doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{locals.siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav 
                ul  
                    li 
                        a(href="/") Home
                    if locals.loggedIn
                        li 
                            a(href="/videos/upload") Upload Video
                        li 
                            a(href=`/users/${loggedInUser._id}`) My Profile
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Log Out                       
                    else
                        li
                            a(href="/join") Join
                        li 
                            a(href="/login") Login 
                    li
                        a(href="/search") Search
                    
        main
            block content            
    include partials/footer 
    //- 밑에는 브라우저를 위한 코드다. 코드에서 불러오는게 아니다. 브라우저에서 해당 폴더를 부르는 Url을 static으로 정의했기 때문에 아래에 static사용
    script(src="/static/js/main.js")